.my-content {
    margin: 0;
    padding: 5%;
}

html, body, app-root, .menu {
    margin-left: 20px;
}

.icon{
    font-size: 24px;
}

.website{
    text-decoration: none;
    color: white;
}

.side-menu {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: left;
}