<md-sidenav-container fullscreen>
    <md-toolbar>
        <a class="website" routerLink="/"><span>Clark Jeria</span></a>
      <nav class="menu" fxHide.lt-lg>
        <a md-button routerLink="." routerLinkActive="mat-accent" aria-label="home"><md-icon aria-hidden="true">home</md-icon> Home</a>
        <a md-button routerLink="/">About Me</a>
        <a md-button routerLink="/">Experiences</a>
        <a md-button routerLink="/">Projects</a>
        <a md-button routerLink="/">Skills</a>
        <a md-button routerLink="/">Recommendations</a>
        <a md-button routerLink="/">Blogs</a>
        <a md-button routerLink="/">Contact Me</a>
      </nav>
      <span class="example-fill-remaining-space"></span>
      <a md-icon-button (click)="sidenav.open()" aria-label="menu" fxHide.gt-lg fxHide.lg><md-icon aria-hidden="true">menu</md-icon></a>
      <nav class="menu-social" fxHide.lt-lg>
        <a md-icon-button target="_blank" href="https://www.linkedin.com/in/clarkjeria/en/" aria-label="linkedin"><i class="icon ion-social-linkedin" aria-hidden="true"></i></a>
        <a md-icon-button target="_blank" href="https://github.com/clark-ajf/" aria-label="github"><i class="icon ion-social-github" aria-hidden="true"></i></a>
        <a md-icon-button target="_blank" href="https://www.facebook.com/ClarkJF" aria-label="facebook"><i class="icon ion-social-facebook" aria-hidden="true"></i></a>
        <a md-icon-button target="_blank" href="https://twitter.com/Clark_Jeria" aria-label="twitter"><i class="icon ion-social-twitter" aria-hidden="true"></i></a>
        <a md-icon-button target="_blank" href="skype:clark.jeria" aria-label="skype"><i class="icon ion-social-skype" aria-hidden="true"></i></a>
      </nav>
    </md-toolbar>
    <md-sidenav #sidenav mode="push">
        <md-nav-list class="side-menu">        
          <h3 md-line>Menu</h3>    
          <a md-list-item routerLink="." routerLinkActive="mat-accent">Home</a>
          <a md-list-item routerLink="/">About Me</a>
          <a md-list-item routerLink="/">Experiences</a>
          <a md-list-item routerLink="/">Projects</a>
          <a md-list-item routerLink="/">Skills</a>
          <a md-list-item routerLink="/">Recommendations</a>
          <a md-list-item routerLink="/">Blogs</a>
          <a md-list-item routerLink="/">Contact Me</a>
        </md-nav-list>
        <nav class="menu-social">
          <a md-icon-button target="_blank" href="https://www.linkedin.com/in/clarkjeria/en/" aria-label="linkedin"><i class="icon ion-social-linkedin" aria-hidden="true"></i></a>
          <a md-icon-button target="_blank" href="https://github.com/clark-ajf/" aria-label="github"><i class="icon ion-social-github" aria-hidden="true"></i></a>
          <a md-icon-button target="_blank" href="https://www.facebook.com/ClarkJF" aria-label="facebook"><i class="icon ion-social-facebook" aria-hidden="true"></i></a>
          <a md-icon-button target="_blank" href="https://twitter.com/Clark_Jeria" aria-label="twitter"><i class="icon ion-social-twitter" aria-hidden="true"></i></a>
          <a md-icon-button target="_blank" href="skype:clark.jeria" aria-label="skype"><i class="icon ion-social-skype" aria-hidden="true"></i></a>
        </nav>
    </md-sidenav>
    <div class="my-content"><router-outlet></router-outlet></div>
</md-sidenav-container>