<mat-accordion>
  <mat-expansion-panel #tab0 [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>star</mat-icon>
        Virtual Power Systems
      </mat-panel-title>
      <mat-panel-description>
        <span class="example-fill-remaining-space"></span>
        <span>Product Manager [Sep 2017 - Present]</span>  
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Overview</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Responsabilities</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Projects</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Skills</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Recommendations</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel #tab1 [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>star</mat-icon>
        U-Planner INC
      </mat-panel-title>
      <mat-panel-description>
        <span class="example-fill-remaining-space"></span>
        <span>Head of Products and Engineering [Jun 2015 - Jun 2017]</span>  
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Overview</span>
          </ng-template>
          <mat-card>
            <mat-card-header>
              <mat-card-title>U-Planner INC</mat-card-title>
              <mat-card-subtitle>About the Company</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                U-Planner envision a future where education of the highest quality is accesible by everyone regardless socialeconomical factors. The company provides services to higher education
                institutions and students to improve the learning experience using the latest machine learning technologies.

                The company's product portfolio includes web solutions to Student Drop-out, Curriculum Management and Accreditation, and Campus Management, among others.
              </p>
              <div fxLayout.gt-sm='row' fxLayout.lt-sm='column'>
                <div>
                    <div class="icon-item"><mat-icon>web</mat-icon><span><a target="_blank" href="http://u-planner.com/home">U-Planner's website<mat-icon class="new-window">open_in_new</mat-icon></a></span></div>
                    <div class="icon-item"><mat-icon>account_balance</mat-icon><span>Industry: </span><mat-chip-list><mat-chip>Technology for Education</mat-chip></mat-chip-list></div>
                </div>
                <div fxFlexOffset.gt-sm="20px" fxFlexOffset.sm="20px" fxFlexOffset.lt-sm="0px">
                    <div class="icon-item"><mat-icon>domain</mat-icon><span>Type: </span><mat-chip-list><mat-chip>Start-Up</mat-chip></mat-chip-list></div>
                    <div class="icon-item"><mat-icon>wc</mat-icon><span>Size: </span><mat-chip-list><mat-chip>50-100</mat-chip></mat-chip-list></div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Head of Products and Engineering</mat-card-title>
              <mat-card-subtitle>About the Role</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                &bull; Created and led the new department of products and engineering to design and develop new products and continuously improve existing ones. (6 employees, 4 new products accountable for 70% revenue)<br/><br/>
                &bull; Defined and implemented new multi-tenancy architecture for new products on Cloud that allowed the company to unify the user experience among their product portfolio.<br/><br/>
                &bull; Implemented lean methodologies and fast prototyping to improve market feedback.
              </p>
              <div fxLayout.gt-sm='row' fxLayout.lt-sm='column'>
                <div>
                    <div class="icon-item"><mat-icon>date_range</mat-icon><span>Dates: </span><span>Jun 2015 - Jun 2017</span></div>
                    <div class="icon-item"><mat-icon>pin_drop</mat-icon><span>Location: </span><span>Mountain View, CA</span></div>
                    <div class="icon-item"><mat-icon>trending_up</mat-icon><span>Position Level: </span><span>Mid-Manager</span></div>
                </div>
                <div fxFlexOffset.gt-sm="20px" fxFlexOffset.sm="20px" fxFlexOffset.lt-sm="0px">
                    <div class="icon-item"><mat-icon>language</mat-icon><span>Coverage: </span><mat-chip-list><mat-chip>USA</mat-chip><mat-chip>Canada</mat-chip><mat-chip>LATAM (10 countries)</mat-chip></mat-chip-list></div>
                    <div class="icon-item"><mat-icon>people</mat-icon><span>Direct Reports: </span><mat-chip>10</mat-chip></div>
                    <div class="icon-item"><mat-icon>person</mat-icon><span>Reports To: </span><a target="_blank" href="https://www.linkedin.com/in/juan-pablo-mena-6444894/">Juan Pablo Mena (CEO)<mat-icon class="new-window">open_in_new</mat-icon></a></div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Responsabilities</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Projects</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Skills</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Recommendations</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel #tab2 [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>star</mat-icon>
        <span>Galyleo</span>
      </mat-panel-title>
      <mat-panel-description>
        <span class="example-fill-remaining-space"></span>
        <span>Head of Technology and Products [Mar 2013 - Jun 2015]</span>  
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>pin_drop</mat-icon>
          <h3 mat-line>Google</h3>
          <h4 mat-line>Headquarters</h4>
          <p mat-line>
            1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
          </p>
        </mat-list-item>
      </mat-list>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Overview</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Responsabilities</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Projects</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Skills</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Recommendations</span>
          </ng-template>
          <mat-card>
            <p>Lorem Ipsum</p>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel #tab3 [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>star</mat-icon>
          <span>INDAP</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class="example-fill-remaining-space"></span>
          <span>Engineering Manager [Apr 2010 - Mar 2013]</span>  
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>pin_drop</mat-icon>
            <h3 mat-line>Google</h3>
            <h4 mat-line>Headquarters</h4>
            <p mat-line>
              1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
            </p>
          </mat-list-item>
        </mat-list>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Overview</span>
            </ng-template>
            <mat-card>
              <p>Lorem Ipsum</p>
            </mat-card>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Responsabilities</span>
            </ng-template>
            <mat-card>
              <p>Lorem Ipsum</p>
            </mat-card>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Projects</span>
            </ng-template>
            <mat-card>
              <p>Lorem Ipsum</p>
            </mat-card>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Skills</span>
            </ng-template>
            <mat-card>
              <p>Lorem Ipsum</p>
            </mat-card>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Recommendations</span>
            </ng-template>
            <mat-card>
              <p>Lorem Ipsum</p>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel #tab4 [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>star</mat-icon>
            <span>UAI</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="example-fill-remaining-space"></span>
            <span>Technical Lead [Mar 2009 - Apr 2010]</span>  
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>pin_drop</mat-icon>
              <h3 mat-line>Google</h3>
              <h4 mat-line>Headquarters</h4>
              <p mat-line>
                1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
              </p>
            </mat-list-item>
          </mat-list>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Overview</span>
              </ng-template>
              <mat-card>
                <p>Lorem Ipsum</p>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Responsabilities</span>
              </ng-template>
              <mat-card>
                <p>Lorem Ipsum</p>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Projects</span>
              </ng-template>
              <mat-card>
                <p>Lorem Ipsum</p>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Skills</span>
              </ng-template>
              <mat-card>
                <p>Lorem Ipsum</p>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Recommendations</span>
              </ng-template>
              <mat-card>
                <p>Lorem Ipsum</p>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-expansion-panel>
</mat-accordion>