<div class="content">
  <div fxLayout.gt-lg='row' fxLayout.lt-lg='column'>
    <div fxFlex.xl="25%" fxFlex.lg="15%" fxFlex.lt-lg="0%"></div>
    <div fxFlex.xl="12.5%" fxFlex.lg="17.5%" class="profile-pic-holder"><img class="profile-pic" src="assets/pictures/Clark-Jeria-2017.jpg" /></div>
    <div fxFlex.xl="37.5%" fxFlex.lg="52.5%">
      <h1>Welcome to my website</h1>
      <p>
          My name is Clark Jeria a passionate Senior Product and Engineering Manager. Over 8 years of experience bridging the gap between technology and businesses. Knowledgeable in product innovation and software engineering processes and practices in highly dynamic environments.
          <br/><br/>
          In this website you will find an extensive portfolio of my work and professional profile.
      </p>
    </div>
    <div fxFlex.xl="25%" fxFlex.lg="15%" fxFlex.lt-lg="0%"></div>
  </div>
</div>

