.profile-pic {
    border-radius: 50%;
    width: 200px;
}

.profile-pic-holder {
    text-align: center;
}

html, body, app-home, .content {
    /*margin-left: 25%;
    margin-right: 25%;*/
    /*font-weight: 500;
    font-size: 20px;
    line-height: 32px;*/
    font-family: Roboto,"Helvetica Neue",sans-serif;
}